

body {
	margin: 0;
	padding: 0;
	color: #6e6e6e;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.4em;
	background-color: #3b3939;
	background-repeat: repeat-x;
	background-position: top;
}


a.more { 
	display: inline-block; 
	padding-left: 12px; 
	background: url(../images/templatemo_list.png) no-repeat 0 4px; 
}

p { 
	margin: 0 0 10px 0; 
	padding: 0; 
}

img { 
	border: none; 
}

blockquote { 
	font-style: italic; 
	margin: 0 0 0 10px;
}



.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.divider { margin-bottom: 40px; padding-bottom: 20px; background: url(../images/templatemo_divider.png) repeat-x bottom; }

.image_fl { float: left; margin: 3px 20px 5px 0 }
.image_fr { float: right; margin: 3px 0 5px 20px }

.float_l { float: left }
.float_r { float: right }

#templatemo_header_wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 40px 10px 20px;
	background: url(../images/templatemo_header_dividier.png) repeat-x bottom
}

#templatemo_slider {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px 10px;
}


#slider-left-but { 
	display: block; 
	width: 30px; 
	height: 30px; 
	border: none; 
	background: url(../images/templatemo_slider_left.png); 
	margin-right: 10px; 
}

#slider-right-but { 
	display: block; 
	width: 30px; 
	height: 30px; 
	border: none; 
	background: url(../images/templatemo_slider_right.png); 
}



